
http://132.247.154.154:8080/Envio_Nip/ControlSCV.jsp
identificacion:1
credencial:565445
cuenta:-----------------
correo:cansejj@mail.com
Enviar:Enviar
Method:POST

Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Encoding:gzip, deflate
Accept-Language:es-ES,es;q=0.8
Cache-Control:max-age=0
Connection:keep-alive
Content-Length:99
Content-Type:application/x-www-form-urlencoded
Cookie:JSESSIONID=D5EE670F6FE3CC60F1BDB2EA9EA0298D
Host:132.247.154.154:8080
Origin:http://132.247.154.154:8080
Referer:http://132.247.154.154:8080/Envio_Nip/index.jsp
Upgrade-Insecure-Requests:1
User-Agent:Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36
