REQUEST HEADERS
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Encoding:gzip, deflate, sdch
Accept-Language:es-ES,es;q=0.8
Connection:keep-alive
Cookie:ALEPH_SESSION_ID=7L6YXM943LTDL95AT2EIVXQF86VJLY869DLLCPTH524F3HJE2L
Host:biblioteca-fes.aragon.unam.mx:8991
Referer:http://biblioteca-fes.aragon.unam.mx:8991/F/7L6YXM943LTDL95AT2EIVXQF86VJLY869DLLCPTH524F3HJE2L-05488?
func=find-b-0&local_base=l0801
Upgrade-Insecure-Requests:1
User-Agent:Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36
REQUEST PARAMS
func=find-b&request=java&find_code=WRD&adjacent=N&x=82&y=17&filter_code_1=WLN&filter_request_1=&filter_code_2=WYR&filter_request_2=&filter_code_3=WYR&filter_request_3=
