URL:        http://bapi-rgcn.rhcloud.com/
SSH to:     5944a7677628e1af2f000021@bapi-rgcn.rhcloud.com
Git remote: ssh://5944a7677628e1af2f000021@bapi-rgcn.rhcloud.com/~/git/bapi.git/
Cloned to:  /home/regoeco/Documentos/projects/books-unam/bapi
#Run 'rhc show-app bapi' for more details about your app.